<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rsxx.mapper.RsUserMapper">

    <insert id="addUser" parameterType="com.rsxx.entity.RsUser">
        insert into rs_user(uname,uNumber,uPassword) values (#{uname},#{uNumber},#{uPassword})
    </insert>
</mapper>
